# Dependencies
node_modules/

# local env files
.env

# Cache
.cache/

# Miscellaneous
.DS_Store
.env.local
.env.development
.env.test.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*